div.top ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div.top li {
  float: left;
}

div.top li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#bottom {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: absolute;
  bottom: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
body {
  background-image: url("/img/backround.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
div.paragraph {
  height: 40vh;
  width: 50vh;
  background-color: rgba(138, 43, 226, .5);
  text-align: center;
}
